Repository SSlimShady/grab-some-apis, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, config, documentation, dependencies, ci, tools, tests, docker

.github/labeler.yml:

# Label configuration for auto-labeling
# This file defines which labels to apply based on file paths

# Frontend related changes
frontend:
  - "apps/web/**/*"
  - "packages/ui/**/*"
  - "**/*.tsx"
  - "**/*.jsx"

# Backend related changes
backend:
  - "apps/api/**/*"
  - "**/*.py"

# Configuration changes
config:
  - "*.json"
  - "*.yaml"
  - "*.yml"
  - ".env*"
  - "**/tsconfig.json"
  - "**/package.json"
  - "turbo.json"
  - "eslint.config.js"
  - ".prettierrc*"

# Documentation changes
documentation:
  - "docs/**/*"
  - "**/*.md"
  - "README*"

# Dependencies
dependencies:
  - "package.json"
  - "pnpm-lock.yaml"
  - "poetry.lock"
  - "pyproject.toml"

# CI/CD
ci:
  - ".github/**/*"
  - "**/*ci*.yml"
  - "**/*ci*.yaml"

# Tools and scripts
tools:
  - "tools/**/*"
  - "scripts/**/*"

# Testing
tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/test/**/*"
  - "**/tests/**/*"

# Docker
docker:
  - "Dockerfile*"
  - "docker-compose*"
  - ".dockerignore"

feat: init nextjs and pnpm version update
  .github/workflows/ci.yml
  .github/workflows/dependency-updates.yml
  apps/web/.gitignore
  apps/web/README.md
  apps/web/eslint.config.mjs
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/favicon.ico
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: frontend, config, documentation, dependencies, ci

fix: dev script fix
  package.json
Labels: config, dependencies

fix: github ci fix
  .github/workflows/ci.yml
Labels: ci

fix: github ci 2
  .github/workflows/ci.yml
Labels: ci

feat: fastapi setup
  apps/api/.env.example
  apps/api/.gitignore
  apps/api/README.md
  apps/api/app/__init__.py
  apps/api/app/api/__init__.py
  apps/api/app/api/routes/__init__.py
  apps/api/app/api/routes/apis.py
  apps/api/app/api/routes/health.py
  apps/api/app/core/__init__.py
  apps/api/app/core/config.py
  apps/api/app/main.py
  apps/api/app/models/__init__.py
  apps/api/app/services/__init__.py
  apps/api/app/services/api_service.py
  apps/api/app/utils/__init__.py
  apps/api/package.json
  apps/api/pyproject.toml
  apps/api/tests/__init__.py
  apps/api/tests/test_main.py
Labels: backend, config, documentation, tests

fix: gitignore updated
  .gitignore
  apps/api/.gitignore
  apps/api/poetry.lock
  apps/web/.gitignore
  pyrightconfig.json
Labels: frontend, backend, config

feat: nasa apis starting with apod api and validation error handling and circuit breaker
  .lintstagedrc.json
  apps/api/.env.example
  apps/api/app/api/routes/__init__.py
  apps/api/app/api/routes/apis.py
  apps/api/app/api/routes/circuit_breakers.py
  apps/api/app/api/routes/health.py
  apps/api/app/api/routes/v1/__init__.py
  apps/api/app/api/routes/v1/nasa.py
  apps/api/app/core/circuit_breaker.py
  apps/api/app/core/config.py
  apps/api/app/main.py
  apps/api/app/schemas/__init__.py
  apps/api/app/schemas/nasa.py
  apps/api/app/services/api_service.py
  apps/api/app/services/nasa_service.py
  apps/api/poetry.lock
  apps/api/pyproject.toml
  package.json
Labels: backend, config, dependencies

feat: db and auth setup for future
  apps/api/app/api/dependencies/auth.py
  apps/api/app/core/database.py
  apps/api/app/core/security.py
  apps/api/app/models/database/__init__.py
  apps/api/app/repositories/__init__.py
  apps/api/app/repositories/base.py
Labels: backend

feat: modernize NASA page with Zustand and TanStack Query
  apps/api/app/api/routes/v1/nasa.py
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/app/nasa/layout.tsx
  apps/web/src/app/nasa/loading.tsx
  apps/web/src/app/nasa/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/ui/nasa-components.tsx
  apps/web/src/hooks/use-nasa-queries.ts
  apps/web/src/providers/query-provider.tsx
  apps/web/src/stores/nasa-store.ts
  apps/web/src/types/nasa.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: frontend, backend, config, dependencies

build: fastapi version update
  apps/api/poetry.lock
  apps/api/pyproject.toml
Labels: backend

fix: config fix for env loading
  apps/api/app/api/routes/__init__.py
  apps/api/app/api/routes/health.py
  apps/api/app/core/config.py
Labels: backend

refactor: base api class refactor
  apps/api/app/api/routes/v1/nasa.py
  apps/api/app/main.py
  apps/api/app/schemas/nasa.py
  apps/api/app/services/base.py
  apps/api/app/services/nasa_service.py
Labels: backend

fix: minor changes and next config image url added
  apps/web/next.config.ts
  apps/web/src/app/nasa/page.tsx
Labels: frontend

refactor: removed today tab, now using constants file
  apps/web/next.config.ts
  apps/web/src/app/nasa/loading.tsx
  apps/web/src/app/nasa/page.tsx
  apps/web/src/components/ui/nasa-components.tsx
  apps/web/src/hooks/use-nasa-queries.ts
  apps/web/src/providers/query-provider.tsx
  apps/web/src/stores/nasa-store.ts
  eslint.config.js
Labels: frontend, config

refactor: image loading issues and improvements and sonner for toast
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/components/ui/nasa-components.tsx
  pnpm-lock.yaml
Labels: frontend, config, dependencies

fix: github ci fix (poetry command running while node)
  .github/workflows/ci.yml
  .npmrc
  apps/api/package.json
  package.json
Labels: backend, config, dependencies, ci

refactor: github ci flow improve
  .github/workflows/ci.yml
Labels: ci

feat: giphy integration without design
  apps/web/package.json
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/giphy/layout.tsx
  apps/web/src/app/giphy/page.tsx
  apps/web/src/app/giphy/search/page.tsx
  apps/web/src/app/giphy/translate/page.tsx
  apps/web/src/app/giphy/trending/page.tsx
  apps/web/src/app/page.tsx
  pnpm-lock.yaml
Labels: frontend, config, dependencies

feat: switch between gif and stickers
  apps/web/src/app/giphy/layout.tsx
  apps/web/src/app/giphy/page.tsx
  apps/web/src/app/giphy/search/page.tsx
  apps/web/src/app/giphy/translate/page.tsx
  apps/web/src/app/giphy/trending/page.tsx
  apps/web/src/stores/giphy-store.ts
Labels: frontend

build: github actions updated
  .github/workflows/ci.yml
Labels: ci

fix: github ci fix
  .github/workflows/ci.yml
  apps/web/src/app/giphy/translate/page.tsx
Labels: frontend, ci

fix: ci fixes
  .github/workflows/ci.yml
  apps/api/poetry.lock
  apps/api/pyproject.toml
  apps/web/tsconfig.json
Labels: frontend, backend, config, ci

fix: ci fixes ctd
  .github/workflows/ci.yml
  apps/api/.flake8
  apps/api/app/api/dependencies/auth.py
  apps/api/app/api/routes/v1/nasa.py
  apps/api/app/core/security.py
  apps/api/app/services/base.py
  apps/api/app/services/nasa_service.py
  apps/api/poetry.lock
  apps/api/pyproject.toml
Labels: backend, ci

fix: gitignore fix
  .gitignore
  apps/web/src/lib/api/giphy-api.ts
  apps/web/src/lib/api/index.ts
  apps/web/src/lib/api/nasa-api.ts
  apps/web/src/lib/config.ts
  apps/web/src/lib/constants.ts
  apps/web/src/lib/enums.ts
  apps/web/src/lib/env.ts
  apps/web/src/lib/index.ts
Labels: frontend

feat: rick and morty apis
  apps/api/app/api/routes/v1/__init__.py
  apps/api/app/api/routes/v1/rickandmorty.py
  apps/api/app/core/config.py
  apps/api/app/schemas/nasa.py
  apps/api/app/schemas/rickandmorty.py
  apps/api/app/services/base.py
  apps/api/app/services/nasa_service.py
  apps/api/app/services/rickandmorty_service.py
Labels: backend

fix: github actions fix
  .github/workflows/ci.yml
  apps/api/app/api/routes/v1/rickandmorty.py
  apps/api/poetry.lock
  apps/api/pyproject.toml
Labels: backend, ci

fix: line length issue
  apps/api/.flake8
  apps/api/app/api/routes/circuit_breakers.py
  apps/api/pyproject.toml
Labels: backend

fix: line length issues and formatting scripts
  apps/api/app/api/routes/__init__.py
  apps/api/app/api/routes/v1/__init__.py
  apps/api/app/api/routes/v1/nasa.py
  apps/api/app/api/routes/v1/rickandmorty.py
  apps/api/app/core/circuit_breaker.py
  apps/api/app/core/config.py
  apps/api/app/core/database.py
  apps/api/app/core/security.py
  apps/api/app/main.py
  apps/api/app/repositories/base.py
  apps/api/app/schemas/nasa.py
  apps/api/app/services/base.py
  apps/api/app/services/nasa_service.py
  apps/api/app/services/rickandmorty_service.py
  apps/api/bandit-report.json
  apps/api/pyproject.toml
  apps/api/scripts/README.md
  apps/api/scripts/__init__.py
  apps/api/scripts/check_all.py
  apps/api/scripts/format_code.py
  apps/api/scripts/lint_code.py
  apps/api/scripts/typecheck.py
Labels: backend, documentation

fix: formatting for github ci
  apps/api/bandit-report.json
Labels: backend

fix: formatting for ci
  apps/api/bandit-report.json
Labels: backend

fix: pre commit hook fix
  .lintstagedrc.json
  apps/api/app/api/routes/__init__.py
  apps/api/app/api/routes/circuit_breakers.py
  apps/api/app/api/routes/v1/__init__.py
  apps/api/app/api/routes/v1/nasa.py
  apps/api/app/api/routes/v1/rickandmorty.py
  apps/api/app/core/circuit_breaker.py
  apps/api/app/core/config.py
  apps/api/app/core/database.py
  apps/api/app/core/security.py
  apps/api/app/main.py
  apps/api/app/repositories/base.py
  apps/api/app/schemas/nasa.py
  apps/api/app/services/base.py
  apps/api/app/services/nasa_service.py
  apps/api/app/services/rickandmorty_service.py
  apps/api/bandit-report.json
  apps/api/scripts/check_all.py
  apps/api/scripts/format_code.py
  apps/api/scripts/lint_code.py
  apps/api/scripts/typecheck.py
  eslint.config.js
  package.json
  tools/format-python.cjs
Labels: backend, config, dependencies, tools

fix: python test update
  apps/api/tests/test_main.py
Labels: backend, tests

fix: added isort in ci
  apps/api/bandit-report.json
  apps/api/scripts/format_code.py
  apps/api/tests/test_main.py
Labels: backend, tests

feat: rick and morty api ui
  apps/api/app/services/base.py
  apps/web/next.config.ts
  apps/web/src/app/page.tsx
  apps/web/src/app/rickandmorty/page.tsx
  apps/web/src/components/rickandmorty/character-search.tsx
  apps/web/src/hooks/use-debounced-value.ts
  apps/web/src/hooks/use-nasa-queries.ts
  apps/web/src/hooks/use-rickandmorty-queries.ts
  apps/web/src/lib/api/nasa-api.ts
  apps/web/src/lib/api/rickandmorty-api.ts
  apps/web/src/lib/config.ts
  apps/web/src/lib/enums.ts
  apps/web/src/lib/env.ts
  apps/web/src/stores/rickandmorty-store.ts
  apps/web/src/types/rickandmorty.ts
Labels: frontend, backend
